# More Data Preprocessing (with Pandas)

Pandas is a very useful data analytics package within Python.

Let's start with some random data.

In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])
df

        one       two     three
a -1.026801 -1.234273  0.608914
c  0.630635  0.060108  1.814442
e -1.836069 -0.606772  0.302815
f  1.302647 -0.049884  0.032554
h -0.185711  1.588117  2.039931

We know with Pandas we can mix & match data types, so let us add two more columns, named 'four' and 'five':

In [16]:
df['four'] = 'bar'
df['five'] = df['one'] > 0
df

        one       two     three four   five
a -1.026801 -1.234273  0.608914  bar  False
c  0.630635  0.060108  1.814442  bar   True
e -1.836069 -0.606772  0.302815  bar  False
f  1.302647 -0.049884  0.032554  bar   True
h -0.185711  1.588117  2.039931  bar  False

Adding new rows is also simple. Below we include three extra empty rows:

In [17]:
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df2

        one       two     three four   five
a -1.026801 -1.234273  0.608914  bar  False
b       NaN       NaN       NaN  NaN    NaN
c  0.630635  0.060108  1.814442  bar   True
d       NaN       NaN       NaN  NaN    NaN
e -1.836069 -0.606772  0.302815  bar  False
f  1.302647 -0.049884  0.032554  bar   True
g       NaN       NaN       NaN  NaN    NaN
h -0.185711  1.588117  2.039931  bar  False

# Your Turn Here

Do you still remember how to index a row/column?

In [18]:
#### index row 'c' below
df.loc['c']

one       0.630635
two      0.0601082
three      1.81444
four           bar
five          True
Name: c, dtype: object

In [19]:
#### index column 'two' below
df.iloc['two']

TypeError: Cannot index by location index with a non-integer key

pandas has two functions isnull() and notnull() that return boolean objects when called.

In [20]:
pd.isnull(df2['one'])

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [21]:
pd.notnull(df2['one'])

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

Missing values propagate naturally through arithmetic operations between pandas objects.

In [22]:
a = df[['one','two']]
a['one']['a':'e'] = float('nan')
a

/opt/tljh/user/lib/python3.6/site-packages/pandas/core/series.py:1240: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_with(key, value)
/opt/tljh/user/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3319: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

        one       two
a       NaN -1.234273
c       NaN  0.060108
e       NaN -0.606772
f  1.302647 -0.049884
h -0.185711  1.588117

In [23]:
b = df[['one','two','three']]
b

        one       two     three
a -1.026801 -1.234273  0.608914
c  0.630635  0.060108  1.814442
e -1.836069 -0.606772  0.302815
f  1.302647 -0.049884  0.032554
h -0.185711  1.588117  2.039931

In [24]:
a + b

        one  three       two
a       NaN    NaN -2.468547
c       NaN    NaN  0.120216
e       NaN    NaN -1.213545
f  2.605294    NaN -0.099768
h -0.371421    NaN  3.176234

# How to deal with Missing Values

## Deleting Missing Values

The simplest method is always dropping all missing values - but it is highly **discouraged!!!**

In [25]:
a['one'].dropna()

f    1.302647
h   -0.185711
Name: one, dtype: float64

By default, dropna() will drop any row containing **NaN** values, but you can change that by using the *axis=* and *thresh=* arguments.

**NOTE**: Dropping rows or columns have different uses.

In [26]:
#### This statement drop any column with NaN values
a.dropna(axis=1)

        two
a -1.234273
c  0.060108
e -0.606772
f -0.049884
h  1.588117

In [27]:
#### thresh determines how many non-NaN values a column/row should have without being dropped
c = a + b
c.dropna(axis=1, thresh=2)

        one       two
a       NaN -2.468547
c       NaN  0.120216
e       NaN -1.213545
f  2.605294 -0.099768
h -0.371421  3.176234

You can also use the *how=* argument to determine how do you want to remove the NaN values.

In [28]:
#### By default, dropna() drops column/row with any NaN values
#### how = 'all' changes that to dropping column/row with all NaN values
c.dropna(axis=1, how='all')

        one       two
a       NaN -2.468547
c       NaN  0.120216
e       NaN -1.213545
f  2.605294 -0.099768
h -0.371421  3.176234

You can refer to the [pandas.dropna() docs](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html) for more information.

## Imputing Missing Values

Imputing means filling missing values - you can do that when the missing and non-missing values are in some type of relationship.

In [29]:
my_series = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
my_series

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [30]:
#### you can fill missing values with a specific value (0)
my_series.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

Alternatively, we can specify a forward-fill to propagate the previous value forward:

In [31]:
# forward-fill
my_series.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

Or we can specify a back-fill to propagate the next values backward:

In [32]:
my_series.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

## Your Turn Here
Aforementioned method can be applied to dataframes.

In [33]:
#### Let us generate a random dataframe
rand_df = pd.DataFrame(np.random.randn(5, 3), 
                  index=['a', 'b', 'c', 'd', 'e'],
                  columns=['one', 'two', 'three'])
rand_df = rand_df.mask(np.random.random(rand_df.shape) < .3)
rand_df

        one       two     three
a -1.747614       NaN  0.601633
b  0.109008  1.162995  0.873772
c       NaN  1.161470       NaN
d       NaN  0.328522  0.534500
e  2.504935 -1.813116  0.647708

Your tasks are as follows:

- fill missing values in column **one** with value 1;
- fill missing values in column **two** with forward-filling;
- fill missing values in column **three** with backward-filling.

In [36]:
#### insert your code here
#### you can fill missing values with a specific value 
rand_df['one'].fillna(1)

a   -1.747614
b    0.109008
c    1.000000
d    1.000000
e    2.504935
Name: one, dtype: float64

In [34]:
# forward-fill
rand_df['two'].fillna(method='ffill')

a         NaN
b    1.162995
c    1.161470
d    0.328522
e   -1.813116
Name: two, dtype: float64

In [37]:
#backward fill
rand_df['three'].fillna(method='bfill')

a    0.601633
b    0.873772
c    0.534500
d    0.534500
e    0.647708
Name: three, dtype: float64

A useful approach for imputing your missing data is to use mean/mode to replace missing data - the reason behind this logic is that if we are going to *guess* the values of the missing data, the highest chance would be guessing it to be the mean/mode if the data follows **normal** distribution.

In [38]:
#### let us generate another DF
my_df = pd.DataFrame(np.random.randn(5, 3), 
                  index=['a', 'b', 'c', 'd', 'e'],
                  columns=['A', 'B', 'C'])
my_df = my_df.mask(np.random.random(my_df.shape) < .3)
my_df

          A         B         C
a  0.195524       NaN  0.373453
b  0.153542       NaN       NaN
c       NaN -0.406428  0.398489
d  0.852251 -0.566199       NaN
e       NaN       NaN       NaN

In [39]:
#### Let us check if there is any missing value in the df
my_df.isnull().values.any()

True

In [40]:
#### Then we are getting the mean of the DF
#### Note that since we only 
my_df.mean()

A    0.400439
B   -0.486313
C    0.385971
dtype: float64

In [41]:
df_filled = my_df.fillna(my_df.mean())
df_filled

          A         B         C
a  0.195524 -0.486313  0.373453
b  0.153542 -0.486313  0.385971
c  0.400439 -0.406428  0.398489
d  0.852251 -0.566199  0.385971
e  0.400439 -0.486313  0.385971

In [42]:
#### Now let us check again if there is any missing values
df_filled.isnull().values.any()

False

More info regarding how to handle missing data can be found [here](https://machinelearningmastery.com/handle-missing-data-python/).

# Other Tasks in Data Preprocessing

- Handling categorical data (coding)
- Handling imbalanced data
- feature engineering

These topics will be covered in later part of this class.